                <div class="mt-2">
                    <label for="new_user_gender"
                           class="form-label">
                                    Choose gender
                    </label>

                        <select id="new_user_gender" class="form-select" name="new_user_gender">
                            <option>Male</option>
                            <option>Female</option>
                            <option>Other</option>
                        </select>
                </div>
