{% extends 'base.html' %}
{% block title %} Registration Form {% endblock title %}
{% block body %}
<div class="container-fluid ms-4 me-4">


        <p class="text-center fw-bold mt-3">Registration Form</p>

  <div class="row" >

       <div class="card col-6 mx-auto p-3" >
     <form method="POST" action="{% url 'auth:register_new_user' %}" id="register-form">


                 {% csrf_token %}





                 {% include "components/email_field.html" with field=reg_form.email %}
                 {% include "components/text.html" with field=reg_form.first_name %}
                 {% include "components/text.html" with field=reg_form.last_name %}
                 {% include "components/password.html" with field=reg_form.password %}
                 {% include "components/password.html" with field=reg_form.confirm_password %}
                 {% include "components/dropdown_gender.html" with field=reg_form.gender %}








                <div class="mt-2 text-end">
                    <button type="submit"
                            class="btn btn-primary"
                            id="new_user_register_btn">
                                        Register
                    </button>

                    <button type="button"
                            class="btn btn-danger"
                            id="new_user_cancel_btn">
                                        Cancel
                    </button>
                </div>








  </form>
           </div>
  </div>
</div>

        <script>
            document.getElementById("new_user_cancel_btn")
                .addEventListener("click", function() {
                        window.history.back();
                });
            document.getElementById("register-form")
                    .addEventListener("submit", function() {
                      loader.show();
                });

              window.addEventListener("load", function () {
                  loader.hide();
    });
        </script>
{% endblock body %}