{% extends 'base.html' %}
{% block title %} Registration Form {% endblock title %}
{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center ">
        <div class="col-md-6 ">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Profile</h3>

                        <form method="POST" action="{% url 'myProfile:myprofile' %}">
                                {% csrf_token %}

                            {% include "components/text.html" with field=editProfileForm.email %}
                            {% include "components/email_field.html" with field=editProfileForm.birthDate %}
                            {% include "components/textarea.html" with field=editProfileForm.about %}


                    <button type="submit"
                            class="btn btn-primary"
                            id="profile_register_btn">
                                        Update Profile
                    </button>

                    <button type="button"
                            class="btn btn-danger"
                            id="profile_cancel_btn">
                                        Cancel
                    </button>


                        </form>
                </div>
            </div>
        </div>
    </div>

    </div>
  <script>
            document.getElementById("profile_cancel_btn")
                .addEventListener("click", function() {
                        window.history.back();
                });
        </script>
{% endblock body %}