{% extends 'base.html' %}

{% load static %}
{% block head %}
 <script src="{% static 'js/pic_display.js' %}"></script>
{% endblock head %}
{% block title %} Create Post {% endblock title %}

{% block body %}
<div class="container-fluid">
    <p>My Post</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% include "components/text.html" with field=form.title %}
        <div class="mb-3">
 <div class="mb-3">

    <label for="{{ form.imagePost.id_for_label }}" class="btn btn-primary">
        Upload New Photo
    </label>

    <input
        type="file"
        name="{{ form.imagePost.name }}"
        id="{{ form.imagePost.id_for_label }}"
        accept="image/*"
        class="d-none"
        onchange="previewImage('{{ form.imagePost.id_for_label }}',imagePreview)"
    >

    <div class="mt-3">
        <img
            id="imagePreview"
            src=""
            alt="Image Preview"
            class="img-fluid rounded"
            style="display: none; max-width: 400px; max-height: 300px;"
        >
    </div>

</div>
    </div>

        {% include "components/dropdown_dynamic.html" with field=form.topic label="Choose topic"%}
        {% include "components/textarea.html" with field=form.content %}

        <button class="btn btn-primary" type="submit">Create Post</button>
    </form>
</div>

{% endblock body %}