{% extends 'base.html' %}


{% block title %} Create Post {% endblock title %}

{% block body %}
<div class="container-fluid">
    <p>My Post</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% include "components/text.html" with field=form.title %}
<!--        {% include "components/dropdown.html" with field=form.topic %}-->
        {% include "components/textarea.html" with field=form.content %}

        <button class="btn btn-primary" type="submit">Create Post</button>
    </form>
</div>

{% endblock body %}