{% extends 'base.html' %}

{% load static %}
{% block head %}
<script src="{% static 'js/pic_display.js' %}"></script>
{% endblock head %}

{% block title %} Create Post {% endblock title %}

{% block body %}
<div class="container-fluid">
    <p>My Post</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% include "components/text.html" with field=form.title %}

        <div class="mb-3">



            <input
                type="file"
                name="{{ form.imagePost.name }}"
                id="{{ form.imagePost.id_for_label }}"
                accept="image/*"
                class="d-none"
                onchange="previewImage(this, 'imagePreview')"
            >

            <div class="mt-3">
                <img
                    id="imagePreview"
                    src=""
                    alt="Image Preview"
                    class="img-fluid rounded d-none"
                    style="max-width: 400px; max-height: 300px;"
                >
            </div>
             <button class="btn btn-primary mt-3" type="button" id="imageBtn">Upload Image</button>
        </div>

        {% include "components/dropdown_dynamic.html" with field=form.topic label="Choose topic"%}
        {% include "components/textarea.html" with field=form.content %}

        <button class="btn btn-primary" type="submit">Create Post</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const btn = document.getElementById("imageBtn");
        const fileInput = document.getElementById("{{ form.imagePost.id_for_label }}");

        if (btn && fileInput) {
            btn.addEventListener("click", function () {
                fileInput.click();
            });
        }
    });
</script>
{% endblock body %}