{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/topic_selection.css' %}">
 <script src="{% static 'js/topic_selector.js' %}"></script>
{% endblock head %}

{% block title %} My Topics {% endblock title %}

{% block body %}
 <form method="GET">
        <div class="container-fluid mt-3">
            <div class="row justify-content-center">
                <div class="input-group m-3">

                        <input type="text"
                               id="search-input"
                                name="query"
                                value="{{ search_query }}"
                                class="form-control"
                                placeholder="Search Topic"
                                aria-label="Enter Topic to Search"
                                aria-describedby="button-addon2">

                        <button class="btn btn-outline-secondary"
                                type="button"
                                id="button-search">
                            Button
                        </button>

                </div>
            </div>
        </div>
 </form>

    <div class="container-fluid d-flex
             flex-wrap
             w-100
             column-gap-2
             row-gap-3
             justify-content-start
             mt-3"
    id="topics-container">



        {% include 'mySettings/topics_searched.html'  %}






</div>

<div class="fixed-bottom
            bg-white
            p-3
            border-top
            text-center
            shadow-lg">
    <button type="submit"
            class="btn btn-success
            px-5
            py-2">
        Update Topics
    </button>

</div>
<script>
  const myTopicsUrl = "{% url 'mySettings:myTopics' %}";
</script>

{% endblock body %}