
    {% for topic in allTopics %}


      <div class="topic-card
                d-inline-flex
                align-items-center
                justify-content-center
                 {% if topic.id in user_selected_ids %}
  selected


    {% endif %}
                border border-danger
                rounded p-4"
                onclick="toggleTopic(this)">
        <p class="text-center mb-0">
           {{topic.topicName}}
        </p>

    </div>



    {% empty %}
    <p>No topics found.</p>


      {% endfor %}




